<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:texto="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li> <a th:href="@{/variables/string/} + 'Hola Antonio'">/variables/string/Hola Antonio </a> </li>
    <li> <a th:href="@{/variables/string/} + 'Que tal Jhon'">/variables/string/Que tal Jhon </a> </li>
    <li> <a th:href="@{/variables/string/} + 'Saludos Antonio' + '/' + 22">/variables/string/Saludos Antonio </a> </li>
</ul>

</body>

</html>